{% extends 'navbar.html' %}

{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}Divison | Compounding Calculator{% endblock %}

{% block imports %}
<!-- Chart.js imports -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<!-- jQuery imports -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<!-- My imports -->
<script src="{% static 'js/compound.js' %}"></script>
{% endblock imports %}

{% block compound_active %}<li class="nav-item active">{% endblock %}

{% block content %}
<h1>Compounding Calculator</h1>    
<p>
  Investing is a useful tool to help you achieve your financial goals. To
  illustrate the power of investing early, use this calculator to see how
  your money will grow over time!
</p>
<p><i>"Compounding is the eighth wonder of the world." -Albert Einstein</i></p>
<div class="row">
  <div class="col-4">
  	<form action="" method="POST" id="compound_form">
  		<div>
  			{{ form | crispy }}
  		</div>
  		{% csrf_token %}
  		<input class="btn btn-primary" type="submit" value="Calculate!">
  	</form>
  </div>
  <div class="col-8">
    <canvas id="compound_chart"></canvas>
  </div>
</div>
{% endblock %}
