{% extends 'navbar.html' %}

{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}Division | Credit Cards{% endblock %}

{% block imports %}
{% endblock imports %}

{% block content %}
<h1>Credit Cards</h1>

<p>Credit cards are a revolving loan issued to you on a monthly basis.</p>
<p>What are statement balances, credit limits, interest rates, and cash advances?</p>
<p>Your statement balance is the sum of purchases made over the previous statement period. This total is the amount due on your credit card's due date.</p>
<p>Let's look at a sample credit card statement. The credit card has the following dates, rates, and limits: 
  <ul>
    <li><b>Credit Limit:</b> $7000</li>
    <li><b>Minimum Payment Due:</b> $25</li>
    <li><b>Late Payment Fee:</b> $38</li>
    <li><b>Interest Rate:</b> 22.24% APR</li>
    <li><b>Due Date:</b> 24th</li>
    <li><b>Statement Closing Date:</b> 27th</li>
  </ul>

<p>...And the following purchases:</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Vendor</th>
      <th scope="col">Amount</th>
      <th scope="col">Date Posted</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Joey's Grocery Market</td>
      <td>$120</td>
      <td>June 8</td>
    </tr>
    <tr>
      <td>Northeast Airlines</td>
      <td>$250</td>
      <td>June 12</td>
    </tr>
    <tr>
      <td>La Reve Restaurant</td>
      <td>$80</td>
      <td>June 23</td>
    </tr>
    <tr>
      <td>TriCity Taxi</td>
      <td>$26</td>
      <td>June 25</td>
    </tr>
    <tr>
      <td>Nile.com</td>
      <td>$33</td>
      <td>July 1</td>
    </tr>
  </tbody>
</table>

<p>Assuming that there weren't any other purchases on the card prior to June 8, the current credit card balance would be <b>$509</b>.</p>

<p>However, the statement balance due July 24th would be <b>$476</b>, since the purchase from <i>Nile.com</i> posted after the statement closing date on June 27th.

<h2>Balance Calculation</h2>

<p>A credit card's balance is calculated as follows:</p>

<img src="{% static 'img/balance_equation.png' %}">
<br><br>
<p>Where</p>

<ul>
  <li>S = This month's statement balance</li>
  <li>P = The credit card payment made on the due date</li>
  <li>I = The credit card's monthly interest rate</li>
  <li>C = The sum of purchases made in the current billing cycle</li>
  <li>L = Late fees (if applicable)</li>
</ul>

<h2>Monthly Interest Rate</h2>

<p>Credit card issuers advertise their interest rates as an APR (annual percentage rate). Balances are compounded monthly, which means that the interest is calculated every month. Since compounding is the principle of calculating interest on top of interest, we can find the monthly interest rate like so:</p>

<img src="{% static 'img/interest_calc.png' %}">
<br>
<br>
<p>Or, in the case of our sample card:</p>

<img src="{% static 'img/interest_rate_calc.png' %}">
<br><br>

<h2>Avoiding Interest</h2>

<p>If we don't want to pay any interest charges, we should pay at least <b>$476</b> on July 24th to cover the statement balance. The new credit card balance would be <b>$33</b>, but this would only be due the next month, August 24th, along with all purchases posted before July 27th.</p>

<img src="{% static 'img/avoiding_interest_calc.png' %}">
<br><br>

<h2>Minimum Payment</h2>

<p>What happens if we make the minimum payment instead of a payment equal to the statement balance on July 24th? Our new balance would be:</p>

<img src="{% static 'img/min_payment_calc.png' %}">
<br><br>

<h2>No Payment</h2>

<p>If the card issuer doesn't receive the minimum payment by July 24th, then our new balance would be:</p>

<img src="{% static 'img/no_payment_calc.png' %}">
{% endblock %}

{# (1 + I / 12)^12 = 1.2224 #}
{# 1 + I / 12 =  1.0168754874 #}
