{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/mdb.lite.min.css' %}">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/mdb.min.js' %}"></script>
  {% block imports %}{% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark default-color">
    <a class="navbar-brand" href="/">Divison</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% block yield_active %}<li class="nav-item">{% endblock %}
          <a class="nav-link" href="/yield">Yield Curve</a>
        </li>
        {% block compound_active %}<li class="nav-item">{% endblock %}
          <a class="nav-link" href="/compound">Compounding Calculator</a>
        </li>
        {% block resources_active %}<li class="nav-item">{% endblock %}
          <a class="nav-link" href="/resources">Resources</a>
        </li>
      </ul>
    </div>
  </nav>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
</body>