{% extends 'navbar.html' %}

{% load staticfiles %}

{% block title %}Divison | The Scott Adams Strategy{% endblock %}

{% block imports %}
<script src="https://kit.fontawesome.com/2a2521fca0.js"></script>
{% endblock %}

{% block content %}
<h1>The Scott Adams Strategy</h1>

<p>Scott Adams, the author of Dilbert, <a href="https://www.mattcutts.com/blog/scott-adams-financial-advice/">outlined</a> a simple one-pager on general financial advice. The advice is straightforward, but let's break it down a little.
  
<br>
<div class="card-deck">
  <div class="card bg-light">
    <div class="card-body">
      <h5 class="card-title">
        <span class="fas fa-file-signature fa-sm"></span> Make A Will
      </h5>
      <p class="card-text">Name beneficiaries on all of your investment vehicles and assets.</p>
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-body">
      <h5 class="card-title">
        <span class="fas fa-credit-card fa-sm"></span> Pay Off Your Credit Card
      </h5>
      <p class="card-text">Credit card balances usually carry double-digit interest rates. Since the balances have the highest interest rates of all debt that you're likely to accumulate, it's best to pay these off first.</p>
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-body">
      <h5 class="card-title">
        <span class="fas fa-life-ring fa-sm"></span> Get Term Life Insurance
      </h5>
      <p class="card-text">If you have a family to support, purchase term life insurance. Although term life insurance has an end date, it's much cheaper and it's much easier to understand than permanent insurance.</p>
    </div>
  </div>
</div>
<br>
<div class="card-deck">
  <div class="card bg-light">
    <div class="card-body">
      <h5 class="card-title">
        <span class="fas fa-piggy-bank fa-sm"></span> Max Out Your 401(k)
      </h5>
      <p class="card-text">The 2019 contribution limit is $28,500. Some company plans with a Roth 401(k) option may enable you to save beyond this limit, allowing you to contribute an additional $27,500 of after-tax money.</p>
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-body">
      <h5 class="card-title">
        <span class="fas fa-hand-holding-usd fa-sm"></span> Max Out Your IRA
      </h5>
      <p class="card-text">The 2019 contribution limit is $6,500. Depending on your tax circumstances, you can elect to save this money in a Traditional IRA or a ROTH IRA.</p>
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-body">
      <h5 class="card-title">
        <span class="fas fa-home fa-sm"></span> Buy A House
      </h5>
      <p class="card-text">If you can afford a house, buy one and live in it. Real estate is the largest investment that most Americans will make.</p>
    </div>
  </div>
</div>
<br>
<div class="card-deck">
  <div class="card bg-light">
    <div class="card-body">
      <h5 class="card-title">
        <span class="fas fa-coins fa-sm"></span> Save 6 Months Of Expenses
      </h5>
      <p class="card-text">Put this money in a high-yield savings account. Not only will this sum of money accumulate interest over time, it will also be available to you in case of an emergency.</p>
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-body">
      <h5 class="card-title">
        <span class="fas fa-chart-line fa-sm"></span> Invest The Remainder
      </h5>
      <p class="card-text">Open an account at a discount brokerage and invest 70% of your remaining money in a low-cost stock index fund, and the other 30% in a low-cost bond fund. Do not touch this until retirement.</p>
    </div>
  </div>
  <div class="card text-dark bg-warning">
    <div class="card-body">
      <h5 class="card-title">
        <span class="fas fa-chalkboard-teacher fa-sm"></span> Hire A Fiduciary
      </h5>
      <p class="card-text text-dark">If you have any extenuating circumstances, e.g. college planning, a tax audit, or retirement, hire a fee-based fiduciary, not someone who will charge a percentage of your investment portfolio.</p>
    </div>
  </div>
</div>
{% endblock %}
