{% extends 'navbar.html' %}

{% load staticfiles %}

{% block title %}Divison | The Scott Adams Strategy{% endblock %}

{% block content %}
<h1>The Scott Adams Strategy</h1>

<p>Scott Adams, the author of Dilbert, <a href="https://www.mattcutts.com/blog/scott-adams-financial-advice/">outlined</a> a simple one-pager on general financial advice. The advice is straightforward, but let's break it down a little.
  
<br>
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Make A Will</h5>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Pay Off Your Credit Card</h5>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Get Term Life Insurance</h5>
      <p class="card-text"></p>
    </div>
  </div>
</div>
<br>
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Max Out Your 401(k)</h5>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Max Out Your IRA</h5>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Buy A House</h5>
      <p class="card-text"></p>
    </div>
  </div>
</div>
<br>
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Save 6 Months Of Expenses</h5>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Invest The Remainder</h5>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Hire A Fiduciary</h5>
      <p class="card-text"></p>
    </div>
  </div>
</div>
{% endblock %}
