{% extends 'navbar.html' %}

{% load staticfiles %}

{% block title %}Yield Curve{% endblock %}

{% block imports %}
<link rel = "stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Yield Curve</h1>  
<p>The yield curve on <a href="https://www.treasury.gov/resource-center/data-chart-center/interest-rates/pages/textview.aspx?data=yield">treasury.gov</a> sucks so here's one that doesn't.</p>
<p>Last updated: {{ last_updated }}</p>
<p>Date: <input type="text" id="datepicker"></p>
<canvas id="compressed"></canvas> 
<canvas id="uncompressed"></canvas>
{% endblock %}
